@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.api-logo {
  border: 1px solid #e6e6e6;
  box-shadow: 0 32px 32px rgb(50 50 71 / 8%), 0 16px 24px rgb(50 50 71 / 8%);
  border-radius: 16px;
  width: 100px;
  height: 100px;
  padding: 1rem;
  background-color: #fff;
}
.a {
  top: -40px;
  right: 15px;
  transform: rotate(-15deg);
}

.b {
  top: 80px;
  left: 2%;
  transform: rotate(30deg);
}
.c {
  top: 170px;
  left: 14%;
  transform: rotate(-15deg);
}
.d {
  top: 290px;
  left: 5%;
  transform: rotate(15deg);
}
.e {
  top: -40px;
  right: 15px;
  transform: rotate(-15deg);
}
.f {
  top: 80px;
  right: 10%;
  transform: rotate(15deg);
  z-index: -1;
}
.g {
  top: 220px;
  right: 3%;
  transform: rotate(7.98deg);
  z-index: -1;
}
.h {
  top: 310px;
  right: 15%;
  transform: rotate(-15deg);
}
@media screen and (max-width: 1024px) {
  .api-logo {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 599px) {
  .c{
    top: 228px;
    left: 2%;
    z-index: -1;
  }
}
.image-container {

  width: 100%;
  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
.or{
  &::after{
    content: " ";
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 11px;
    left: 25px;
  } &::before{
    content: " ";
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 11px;
    left: -37px;
  }
}
.readmore-btn{
  background: linear-gradient(269.84deg, #E7F6FF 1.29%, #FFF1F1 96.95%);
}